Repository Batochir366/myrmidons-pinequest, pull requests merged in 2025-09, with the labels that each got.

#4 fe-teacher-qr-generate-component
  frontend/app/globals.css
  frontend/app/page.tsx
  frontend/components.json
  frontend/components/QrControl.tsx
  frontend/components/ui/avatar.tsx
  frontend/components/ui/button.tsx
  frontend/components/ui/card.tsx
  frontend/components/ui/input.tsx
  frontend/components/ui/label.tsx
  frontend/components/ui/progress.tsx
  frontend/lib/utils.ts
  frontend/package.json
Labels: frontend, feature

#6 [FE] StudentIdInput component
  frontend/app/student/page.tsx
  frontend/components/StudentIdInput.tsx
Labels: frontend, feature, input

#15 [FE] AttendanceSteps
  frontend/app/student/page.tsx
  frontend/components/AttendanceSteps.tsx
  frontend/components/AttendanceSuccess.tsx
Labels: frontend, feature

#23 [BE] teacher-create-classroom
  backend/package.json
  backend/src/controllers/teacher.js
  backend/src/models/attendance.model.js
  backend/src/models/student.model.js
  backend/src/models/teacher.model.js
  backend/src/routes/attendance.js
  backend/src/routes/teacher.js
Labels: backend

#24 [FE] History
  backend/src/controllers/teacher.js
Labels: backend

#30 [BE] Deploying Python server
  backend/face-attendance/requirements.txt
  face-attendance/Dockerfile
  face-attendance/Silent_Face_Anti_Spoofing/.gitignore
  face-attendance/Silent_Face_Anti_Spoofing/LICENSE
  face-attendance/Silent_Face_Anti_Spoofing/README.md
  face-attendance/Silent_Face_Anti_Spoofing/README_EN.md
  face-attendance/Silent_Face_Anti_Spoofing/__init__.py
  face-attendance/Silent_Face_Anti_Spoofing/datasets/README.md
  face-attendance/Silent_Face_Anti_Spoofing/images/demo.gif
  face-attendance/Silent_Face_Anti_Spoofing/images/framework.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/logo.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/patch_demo.png
  face-attendance/Silent_Face_Anti_Spoofing/images/sample/image_F1.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/sample/image_F1_result.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/sample/image_F2.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/sample/image_F2_result.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/sample/image_T1.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/sample/image_T1_result.jpg
  face-attendance/Silent_Face_Anti_Spoofing/images/设置阈值.png
  face-attendance/Silent_Face_Anti_Spoofing/images/静默活体APK.jpeg
  face-attendance/Silent_Face_Anti_Spoofing/resources/anti_spoof_models/2.7_80x80_MiniFASNetV2.pth
  face-attendance/Silent_Face_Anti_Spoofing/resources/anti_spoof_models/4_0_0_80x80_MiniFASNetV1SE.pth
  face-attendance/Silent_Face_Anti_Spoofing/resources/detection_model/Widerface-RetinaFace.caffemodel
  face-attendance/Silent_Face_Anti_Spoofing/resources/detection_model/deploy.prototxt
  face-attendance/Silent_Face_Anti_Spoofing/saved_logs/jobs/Anti_Spoofing_1_80x80/Jul08_12-51-18 /events.out.tfevents.1594183888.old01
  face-attendance/Silent_Face_Anti_Spoofing/src/__init__.py
  face-attendance/Silent_Face_Anti_Spoofing/src/anti_spoof_predict.py
  face-attendance/Silent_Face_Anti_Spoofing/src/data_io/dataset_folder.py
  face-attendance/Silent_Face_Anti_Spoofing/src/data_io/dataset_loader.py
  face-attendance/Silent_Face_Anti_Spoofing/src/data_io/functional.py
  face-attendance/Silent_Face_Anti_Spoofing/src/data_io/transform.py
  face-attendance/Silent_Face_Anti_Spoofing/src/default_config.py
  face-attendance/Silent_Face_Anti_Spoofing/src/generate_patches.py
  face-attendance/Silent_Face_Anti_Spoofing/src/model_lib/MiniFASNet.py
  face-attendance/Silent_Face_Anti_Spoofing/src/model_lib/MultiFTNet.py
  face-attendance/Silent_Face_Anti_Spoofing/src/train_main.py
  face-attendance/Silent_Face_Anti_Spoofing/src/utility.py
  face-attendance/Silent_Face_Anti_Spoofing/test.py
  face-attendance/Silent_Face_Anti_Spoofing/train.py
  face-attendance/app.py
  face-attendance/requirements.txt
  face-attendance/util.py
Labels: backend, fix

#35 teacher backend
  backend/server.js
  backend/src/config/connect-to-db.js
  backend/src/controllers/scan.js
  backend/src/controllers/teacher.js
  backend/src/models/teacher.model.js
  backend/src/routes/teacher.js
Labels: feature, backend

#41 37 fe studentsignup holbolt
  face-attendance/app.py
  frontend/app/signup/page.tsx
Labels: bug, frontend, fix

#42 [BE] backend cors error fix
  app.py
  face-attendance/app.py
Labels: bug, backend, fix

#45 [BE] url fix
  face-attendance/app.py
Labels: bug, backend, fix

#48 [FE] Teacher signup,login logic holbolt
  app.py
  face-attendance/app.py
  frontend/app/signup/page.tsx
Labels: frontend, backend

#50 Verfiy QR and go to Scan page
  backend/src/controllers/scan.js
  frontend/app/scan/page.tsx
  frontend/app/teacher/page.tsx
Labels: frontend, backend

#52 51 fe fix disign
  backend/src/controllers/scan.js
  frontend/app/login/page.tsx
  frontend/app/page.tsx
  frontend/app/scan/page.tsx
  frontend/app/signup/page.tsx
  frontend/app/teacher/page.tsx
  frontend/components/Navigation.tsx
  frontend/components/QrGenerator.tsx
  frontend/components/ScanClient.tsx
Labels: frontend, fix

#58 no calendar
  frontend/components/QrControlCenter.tsx
Labels: frontend

#60 [BE] Classroom uusgedeg bolgoh
  backend/src/controllers/student.js
  backend/src/controllers/teacher.js
  backend/src/models/attendance.model.js
  backend/src/models/classroom.model.js
  backend/src/models/teacher.model.js
  backend/src/models/user.model.js
  backend/src/routes/student.js
  backend/src/routes/teacher.js
  face-attendance/app.py
Labels: feature, backend

#63 62 fe createclassroom button add
  app.py
  backend/src/controllers/teacher.js
  backend/src/routes/teacher.js
  frontend/app/teacher/page.tsx
  frontend/components/ClassroomsView.tsx
  frontend/components/CreateClassroom.tsx
  frontend/components/ui/dialog.tsx
Labels: frontend, backend

#65 irts tailan done
  frontend/app/teacher/page.tsx
  frontend/components/AttendanceHistory.tsx
  frontend/components/VIewReport.tsx
Labels: frontend, feature

#75 [FE] calendar&attendance reports parallel done
  frontend/components/AttendanceHistory.tsx
Labels: frontend, fix

#76 list
  .vscode/settings.json
  frontend/components/QrControlCenter.tsx
Labels: frontend, feature, fix

#81 [FE] Students can join Classroom FIX
  frontend/components/AttendanceSystem.tsx
  frontend/components/JoinClass.tsx
Labels: frontend, fix

#86 [BE] check all controller on local
  backend/package.json
  backend/server.js
  backend/src/controllers/attendance.js
  backend/src/controllers/student.js
  backend/src/controllers/teacher.js
  backend/src/routes/attendance.js
  backend/src/routes/student.js
  backend/src/routes/teacher.js
Labels: backend, fix

#90 python fixed
  app.py
  face-attendance/app.py
Labels: bug, backend

#95 getOnlyClassroomsByTeacherId success
  backend/src/controllers/teacher.js
  backend/src/routes/teacher.js
Labels: backend

#98 lectureDate added
  backend/src/controllers/attendance.js
  backend/src/controllers/teacher.js
  backend/src/models/classroom.model.js
Labels: backend

#103 frontend middleware
  frontend/app/teacher/page.tsx
  frontend/components/RequireAuth.tsx
Labels: frontend

#106 axiosInstance added to utils
  frontend/components/AttendanceHistory.tsx
  frontend/lib/utils.ts
Labels: frontend, backend

#107 Spoofing fix, location security
  app.py
  backend/src/controllers/teacher.js
  backend/src/models/attendance.model.js
  face-attendance/Silent_Face_Anti_Spoofing/test.py
  face-attendance/app.py
  frontend/components/AttendanceSystem.tsx
  frontend/components/QrControlCenter.tsx
  frontend/utils/attendanceUtils.ts
  frontend/utils/getLocation.ts
Labels: bug, backend

#109 fe-teacher-classroom-section
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/ClassRoomDeatial.tsx
  frontend/components/ClassroomsView.tsx
  frontend/components/ui/form.tsx
  frontend/package.json
Labels: feature, frontend: teacher

#110 [FE] calendar design fixed
  frontend/components/AttendanceHistory.tsx
  frontend/components/ui/calendar.tsx
Labels: frontend

#120 e-teacher-logout
  frontend/app/teacher/page.tsx
Labels: frontend, frontend: teacher

#124 qr
  frontend/components/AttendanceControlPanel.tsx
  frontend/components/JoinLinkQrButton.tsx
  frontend/components/QrAndAttendance.tsx
Labels: frontend, feature, fix

#127 ireegu suragchid viewreport deer haragdana
  frontend/components/AttendanceHistory.tsx
  frontend/components/VIewReport.tsx
Labels: frontend, backend, improvement

#128 [FE] Irtsiig live aar haruulah,ended at done
  backend/src/controllers/attendance.js
  backend/src/controllers/teacher.js
  backend/src/routes/attendance.js
  backend/src/routes/teacher.js
  frontend/app/teacher/page.tsx
  frontend/components/QrControlCenter.tsx
Labels: frontend

#131 fixed
  frontend/components/AttendanceHistory.tsx
Labels: frontend, fix

#132 [FE] QR Generate fix
  frontend/app/teacher/page.tsx
  frontend/components/QrControlCenter.tsx
  frontend/utils/storageUtils.ts
Labels: frontend

#166 fe-student-attend-toast-and-loading-error-message
  frontend/components/AttendanceSystem.tsx
  frontend/components/QrAndAttendance.tsx
  frontend/components/ui/sheet.tsx
  frontend/utils/attendanceUtils.ts
  frontend/utils/storageUtils.ts
Labels: frontend, improvement
